@page "/Curriculo"
@layout Shared.BaseLayout

<PageTitle>Curriculo</PageTitle>
 
 <div class="container">

    <div class="foto">
        <img src="fotoemilly.jpeg" alt="Foto de Emilly Valadares">
    </div>

    <h1>EMILLY VALADARES</h1>
    <h2>Cursando Técnico em Informática</h2>

    <div class="contato">
      <span>📞 (69) 99275-1820</span>
      <span>✉️ valadaresemillylavinia@gmail.com</span>
    </div>

    <div class="secao">
      <h3>OBJETIVOS</h3>
      <p>Atuar na área de informática, com foco em desenvolvimento de sistemas e administração de banco de dados. Busco aplicar meus conhecimentos técnicos, colaborar com soluções eficazes e crescer profissionalmente.</p>
    </div>

    <div class="secao">
      <h3>FORMAÇÃO</h3>
      <p class="subtitulo">2023 - 2025 | INSTITUTO FEDERAL DE RONDÔNIA - CAMPUS JI-PARANÁ</p>
      <p>Técnico em Informática</p>
    </div>

    <div class="secao">
      <h3>EXPERIÊNCIAS</h3>
      <p class="subtitulo">2025 - 2025 | Universidade São Lucas</p>
      <p>Estagiária em Instalação e Manutenção de Computadores</p>
    </div>
  </div>>