@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<h2>Sobre Emilly</h2>

<h4>Hobbies:</h4>
<h5>Praticar Handebol, cozinhar, cuidar dos cabelos e das unhas, fazer massagens, comer, ver sagas.</h5>
<h4>Vida:</h4>
<h5>Nascida e criada em Ji-Paraná Rondônia no ano de 2007, criada com mãe solteira e uma irmã. Concluí o ensino fundamenal 
    em 2022 na escola estadual José Francisco dos Santos em seguida ingressei no Instituto Federal Campus Ji-Paraná cursando
    o curso de Técnico em Informática. Atualmente me encontro em um relacionamento sério, tenho três irmãs e acabo de completar
    18 anos de muita alegria e sendo uma pessoa educada, agradavél, e muito amada. Tenho muitos sonhos para realizar e muita força
    de vontade. </h5>